/* Contact Section Style */
.contact{
    &::before{
        content: url(../images/contact/contact-bg.png);
        position: absolute;
        right: 0;
        width: auto;
        @include tablet{
            display: none;
        }
    }
    &__form .form-control{
        color: $color-black;
        font-size: toRem(18);
        height: toRem(61);
        border-color: $color-black;
        text-shadow: none;
        @include min-tablet{
            padding-left: toRem(31);
        }
        &::placeholder{
            color: currentColor;
            opacity: 1;
        }
    }
}