/* Aside Nav Section Style */
.aside-navbar{
    top: 50%;
    transform: translateY(-50%);
    @include desktop{
        display: none;
    }
    @include desktop-lg{
        left: toRem(40);
    }
    @include desktop-lg-to-desktop-2k{
        left: toRem(3);
    }
    @include min-desktop-2k{
        left: toRem(40);
    }
}
.aside-nav{
    &__items{
        &:not(:last-child){
            margin-bottom: toRem(8);
        }
    }
    &__link{
        height: toRem(65);
        width: toRem(2);
        background-color: $color-gray;
        padding: 0;
        @extend %transition;
        &__text{
            color: $color-primary;
            font-size: toRem(14);
            font-weight: 500;
            top: 50%;
            width: max-content;
            transform: translate(0, -50%);
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            @extend %transition;
        }
        &:hover{
            .aside-nav__link__text{
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
                transform: translate(20%, -50%);
            }
        }
        &:hover,
        &.active{
            width: toRem(6);
            background-color: $color-primary;
        }
    }
}